
.clearfix() {
    display:block;
    content:'';
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}
.ellipse(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gray() {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-filter: gray;
}