.ui-list-balls > span {
  //float: left;
  display: inline-block;
  text-align: center;
  margin-right: 0.2rem;
  vertical-align: top;
}

.ui-list-balls > span.liuhe {
  width: 25px;
  margin-right: 0.2rem;
  line-height: 18px;
}

.ui-list-balls > span i {
  font-size: 14px;
}

.ui-list-balls > span.liuhe .ball {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.ui-ball-ksan {
  min-width: 110px;
}
.ui-ball-ksan > span {
  margin-right: 1.1rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.ui-ball-11x5 > span {
  margin-right: 1.1rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}
.ui-ball-6hc {
  .ball.ball-red {
    background: radial-gradient(#ff6050 7%, #e50000);
  }
  .ball.ball-blue {
    background: radial-gradient(#007ef9 27%, #0035ae);
  }
  .ball.ball-green {
    background: radial-gradient(#1acb01 3%, #017019);
  }
  .ball.ball-gray {
    background: radial-gradient(#bbb 7%, #888);
  }
}
.ui-ball-6hc > span {
  margin-right: 1.1rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.ui-ball-ssc > span {
  margin-right: 1rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.ui-ball-default > span {
  margin-right: 1.1rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.ui-list-balls .ball {
  width: 25px;
  height: 25px;
  background: radial-gradient(#ff6050 7%, #e50000);
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
}

.ui-list-balls .ball,
.ui-list-balls .symbol {
  display: inline-block;
  line-height: 25px;
}

.ui-ball-pk10 .ball {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-right: 4px;
  font-size: 0;
  background: url(/static/images/icon.png) no-repeat -242px -10px;
}

.ui-ball-pk10 .ball-01 {
  background-position: -242px -10px;
  color: #111;
}

.ui-ball-pk10 .ball-02 {
  background-position: -210px -10px;
}

.ui-ball-pk10 .ball-03 {
  background-position: -178px -10px;
}

.ui-ball-pk10 .ball-04 {
  background-position: -147px -10px;
}

.ui-ball-pk10 .ball-05 {
  background-position: -20px -10px;
}

.ui-ball-pk10 .ball-06 {
  background-position: -52px -10px;
}

.ui-ball-pk10 .ball-07 {
  background-position: -272px -10px;
}

.ui-ball-pk10 .ball-08 {
  background-position: -83px -10px;
}

.ui-ball-pk10 .ball-09 {
  background-position: -115px -10px;
}

.ui-ball-pk10 .ball-10 {
  background-position: -305px -10px;
}

.ui-ball-pcdd {
  .ball-red {
    background: radial-gradient(#ff6050 7%, #e50000);
  }
  .ball-blue {
    background: radial-gradient(#007ef9 27%, #0035ae);
  }
  .ball-green {
    background: radial-gradient(#1acb01 3%, #017019);
  }
  .ball-gray {
    background: radial-gradient(#bbb 7%, #888);
  }
}
