@import "./common";
@deep: ~">>>";

img[src=""],
img:not([src]) {
  visibility: hidden;
}

.btn.primary {
  background: @primary-color;
}

.six-digit-password__box span {
  border: 1px solid @primary-border-hlight-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px @primary-border-shadow-color;
}

.color-hover:hover {
  color: @primary-color;
}

.input-wrapper .btn {
  border-color: @primary-color;
}

.input-wrapper .btn.primary {
  background: @primary-color;
}

.i-small-box {
  background: @primary-color;
}

.page-wrapper .first-page:hover,
.last-page-wrapper .last-page:hover {
  color: @primary-color;
  border-color: @primary-color;
}

.last-page-wrapper input:focus,
.last-page-wrapper input:hover {
  border-color: @primary-color;
}

.buy-hall {
  //background: linear-gradient(80deg, #4c8bfe26, #4c8bfe26, #4c8bfe26) !important;
  // background: linear-gradient(
  //     80deg,
  //     rgba(172, 96, 98, 0.8),
  //     @buy-lottery-gradient-bg-one,
  //     @buy-lottery-gradient-bg-two
  // );
}

/* .buy-hall .list ul {
    border: 1px solid @buy-lottery-list-border-color;
} */

.buy-hall.list li {
  border-bottom: 1px solid @buy-lottery-list-border-color;
  background: @buy-lottery-list-bg;
}

.buy-hall .list li.active .counst {
  color: @primary-color;
}

.buy-hall .list li .child .ivu-btn.disabled {
  color: @btn-disabled-color;
  background: @btn-disabled-bg;
}

.buy-lottery .lottery-body {
  background: @primary-color;
}

.buy-lottery .list h5 {
  background: @primary-color;
}

.buy-lottery .list li .child .ivu-btn {
  border: 1px solid #fff;
}

.buy-lottery .list li .child .ivu-btn:hover,
.buy-lottery .list li .child .ivu-btn.active {
  color: @primary-color;
  border-color: @primary-color;
}

.zk-input__inner:hover {
  border-color: @primary-color;
}

.k-line2 {
  background-color: @primary-color;
}

.chase-num .h-label .tabs span.active {
  border-bottom: 2px solid @primary-color;
  color: @primary-color;
}

.chat-dlg {
  .btn-block {
    background-color: @primary-color;
  }
}

.chat-rank-head {
  li {
    &.selected {
      background-color: @primary-color;
    }
  }
}

.liuhe .liuhe-nva {
  background: @primary-color;
}

.liuhe .curr {
  background: @primary-color-hover;
}

.tab-menu .top-tab ul {
  background: @primary-color;
}

.liuhe .detail-thead.title-tip {
  background: @primary-color;
}

.liuhe .add-note {
  background: @primary-color;
}

.liuhe-fast-bet-menu {
  th {
    // height: 28px;
    background-color: @primary-color;
  }

  tbody {
    color: @primary-color;
    // tr {
    //     display:flex;
    // }
  }
}

.tab-menu .top-tab ul li.active {
  background: @primary-color-hover;
}

.tab-menu .sub-tab li .sub-tab-child label span {
  border-bottom: 2px solid #fff;
}

.tab-menu .sub-tab li .sub-tab-child label .active {
  border-color: @primary-color;
}

.index-chat {
  .fromTip {
    color: @primary-color;
  }
}

.chat-pin {
  .tt {
    color: @primary-color;
  }
}

.chat-item {
  .chat-info-2 {
    .msg-fail {
      color: @primary-color;
    }

    .msg-loading {
      color: @primary-color;
    }
  }
}

.chat-model {
  .btn-red {
    background-color: @primary-color;
  }
}

.chat-room {
  .room-name {
    &:hover {
      color: @primary-color;
    }
  }
}

.fast-betting .detail-hot li.active {
  border-bottom: 2px solid @primary-color;
  color: @primary-color;
}

.fast-betting .multiple .fill .btn {
  color: @primary-color;
  border: 1px solid @primary-color;
}

.fast-betting .detail-hot {
  border-bottom: 1px solid @home-component-border;
}

.fast-betting {
  border: 1px solid @home-component-border;
}

.fast-betting .multiple input {
  border-top: 1px solid @primary-color;
  border-bottom: 1px solid @primary-color;
  color: @primary-color;
}

.fast-betting .multiple .txt span {
  color: @primary-color;
}

.fast-betting .selected-lottery .lf .txt h5 i {
  color: @primary-color;
}

.fast-betting .selected-lottery .rf p span a:hover {
  color: @primary-color;
}

.fast-betting .selected-lottery .rf .change-one:hover {
  color: @primary-color;
}

.fast-betting .jackpot span {
  color: @primary-color;
}

.list > div > h3 {
  background: @primary-color;
}

.list .draw-notice .list-content {
  border: 1px solid @home-component-border;
}

.list .draw-notice li .num span {
  background: @list-ball-bg;
  background: repeating-linear-gradient(
    @list-ball-gradient-bg-one,
    @list-ball-gradient-bg-two
  );
}

.list .draw-notice li .num .add {
  color: @list-ball-gradient-bg-one;
}

.list .draw-notice li .operation span a:hover {
  color: @primary-color;
}

.list .draw-notice .move span {
  background: @list-bottom-bg;
}

.list .consult .lump {
  border: 1px solid @home-component-border;
}

.list .consult .lump .title {
  border-bottom: 1px solid @home-component-border;
}

.list .consult .lump .title .label {
  color: @primary-color;
  border-bottom: 2px solid @primary-color;
}

.list .consult .lump .title .more a:hover {
  color: @primary-color;
}

.list .consult .lump li:hover a,
.list .consult .lump li:hover span {
  color: @primary-color;
}

.list .ranking .cont {
  border: 1px solid @home-component-border;
}

.list .ranking .tab {
  border-bottom: 1px solid @home-component-border;
}

.list .ranking ul li:nth-child(odd) {
  background: @list-rank-odd-bg;
}

.list .ranking ul li.level span i {
  background: @primary-color;
}

.notice .rq .rq-abel p {
  border: 1px solid @home-component-border;
}

.notice .rq .rq-abel p.active {
  border-color: @primary-color;
  color: @primary-color;
}

.notice .rq-img-txt .txt span {
  color: @primary-color;
}

.notice .rq-img-txt {
  border: 1px solid @home-component-border;
}

.notice .guidance {
  border: 1px solid @home-component-border;
}

.notice .guidance .tab {
  border-bottom: 1px solid @home-component-border;
}

.notice .guidance h5.active {
  color: @primary-color;
  border-bottom: 2px solid @primary-color;
}

.notice .guidance li a:hover {
  color: @primary-color;
}

/** lottery**/
.lottery-list .list h5 {
  background: @primary-color;
}

.lottery-list .list li {
  border-bottom: 1px solid @lottery-list-li-border;
  background: @lottery-list-li-bg;
}

.lottery-list .list li.active .counst {
  color: @primary-color;
}

.lottery-list .list li.active .counst i img {
  filter: @primary-color;
}

.lottery-list .list li .child .ivu-btn {
  border: 1px solid #fff;
}

.lottery-list .list li .child .ivu-btn:hover,
.lottery-list .list li .child .ivu-btn.active {
  color: @primary-color;
  border-color: @primary-color;
}

.lottery-list .list li .child .ivu-btn.disabled,
.lottery-list .list li .child .ivu-btn.disabled:hover {
  background-color: @btn-disabled-bg;
}

.lottery-list .streamer {
  background-color: @lottery-streamer-bg;
  border-top: 1px solid @lottery-streamer-border;
  border-bottom: 1px solid @lottery-streamer-border;
}

.lottery-list .streamer .rt .ivu-btn {
  color: @primary-color;
  border-color: @primary-color;
}

/* lottery end **/

.news-page .nav {
  border: 1px solid @news-list-nav-border;
  border-top: 2px solid @primary-color;
}

.nav ul li {
  border-top: 1px solid @news-list-nav-border;
}

.nav ul li:hover {
  color: @primary-color;
}

.nav ul li.active span {
  color: @primary-color;
}

.news-page .new-content {
  border: 1px solid @news-list-nav-border;
}

.notice .lottery-list-wrapper > ul {
  background: @notice-title-bg;
}

.notice .lottery-list li:hover {
  color: @primary-color;
}

.notice .lottery-title.active {
  background: @primary-color-hover;
}

.notice .lottery-title {
  background: @primary-color;
}

.notice .lottery-title:hover {
  background: @primary-color-hover;
}

.notice .lottery-list {
  background: @notice-sub-menu-bg;
  border: 1px solid @primary-color;
}

.notice .lottery-result .ivu-table tr:nth-child(even) td {
  background: @notice-tr-even-bg;
}

/* accout*/

.my-account {
  .tab {
    border-bottom: 2px solid @common-border-color;

    &.info-tip {
      &:before {
        background: @primary-color;
      }
    }
  }

  .tab li.active {
    border-bottom: 2px solid @primary-color;
    color: @primary-color;
  }

  .tab li.active span {
    color: @primary-color;
  }
}

.accoutCard {
  .list li:nth-child(odd) {
    background: @common-border-color;
  }

  .list li.list-thead {
    background: @primary-color;
  }

  .list li.list-body:nth-child(odd) {
    background: @common-border-color;
  }
}

.credit-conver {
  .tab {
    border-bottom: 2px solid @common-border-color;

    li {
      &.active {
        border-bottom: 2px solid @primary-color;
        color: @primary-color;
      }
    }
  }
}

.information-member .newstitle {
  background-color: @primary-color;
}

.information-member .active {
  color: @primary-color;
}

.information-member .active .newslist {
  border-bottom: 1px dashed @primary-color;
}

.information-system {
  .newstitle {
    background-color: @primary-color;
  }
}

.information-system .active {
  color: @primary-color;
}

.information-system .all:nth-child(odd).active .newslist {
  border-bottom: 1px dashed @primary-color;
}

.recharge .paylist li.active {
  border: 1px solid @primary-color;
}

.recharge .paylist li.active .gopay {
  color: @primary-color;
}

.recharge .paylist li .right {
  border-bottom: 29px solid @primary-color;
}

.step-one .list li.list-thead {
  background: @primary-color;
}

.step-two .tips1 {
  color: @primary-color;
}

.step-two .tips2 li {
  color: @primary-color;
}

.step-two .other-recharge li.active {
  border: 1px solid @primary-color;
}

.step-two .list-detail .info-list {
  &.quick-select-money {
    li.active {
      background-color: @primary-color;
    }
  }
}

.step-three .done-order dl dt {
  background: @primary-color;
}

.step-two .other-recharge li .right {
  border-bottom: 20px solid @primary-color;
}

.step-two .kmzf-ways {
  .header {
    li {
      border-bottom: 1px solid @primary-color;
    }
  }
}

.step-three .confirmbutton {
  background-color: @primary-color;
  border: 1px solid @primary-color;
}

.step-three .cont-info .btn {
  background: @primary-color;
  border-color: @primary-color;
}

.lee-online-bank {
  ul {
    li {
      .after-bank-bottom {
        border-bottom: 12px solid @primary-color;
      }
    }

    .lee-bankList-itm {
      border-color: @primary-color;
    }
  }

  .lee-online-bank-top {
    p {
      color: @primary-color;

      .lee-online-bank-bottom {
        background-color: @primary-color;
      }
    }
  }
}

.done-order dl dt {
  background: @primary-color;
}

.my-yeb {
  .tab {
    border-bottom: 2px solid @common-border-color;
  }

  .tab li.active {
    border-bottom: 2px solid @primary-color;
    color: @primary-color;
  }
}

.personal-center .navList {
  border: 1px solid @common-border-color;
}

.personal-center .navList .vip-info {
  border-bottom: 1px dashed @common-border-color;
}

.personal-center .navList li:hover {
  background: #f6f6f6;
}

.personal-center .navList li.active,
.personal-center .navList li.active:hover {
  background: @primary-color-hover;
}

.personal-center .personal-content {
  border: 1px solid @common-border-color;
}

.personal-center .personal-content {
  border: 1px solid @common-border-color;
}

.personal-center .navList .outer-wrap {
  border-top: 3px solid @primary-color;
}

.personal-center .navList .outer-wrap > li .title.active {
  color: @primary-color;
}

.personal-center .navList .outer-wrap > li.active span:hover,
.personal-center .navList .inner-wrap li:hover {
  color: @primary-color;
}

.personal-center .navList .inner-wrap li.isActive {
  color: @primary-color;
}

//首页头部
.home-header {
  .home-head-menu-wp {
    background: @head-notice-bg;

    .home-head-menu {
      .home-marquee {
        color: @primary-color;
      }

      .menu {
        li {
          &:not(.hot-line-phone) {
            &:hover {
              color: @primary-color;
            }
          }

          .online-service {
            background-color: @primary-color;
            transition: all 0.3s;

            &:hover {
              background-color: @primary-color*0.95;
            }
          }
        }
      }
    }
  }

  .head-info {
    .account-info {
      .ivu-btn-warning {
        background-color: @warning-btn-bg;
        color: @warning-btn-color;

        &:hover {
          background-color: @warning-btn-bg*0.95;
          border-color: @warning-btn-bg*0.95;
        }
      }
    }

    .content {
      .logined-wp {
        .font-red {
          color: @primary-color;
        }

        .icon-refresh {
          color: @primary-color;
        }

        .menu {
          li {
            a {
              &:hover {
                color: @primary-color;
              }
            }
          }
        }

        .btns {
          .ivu-btn {
            &:hover {
              background-color: @primary-color;
              border-color: @primary-color;
              color: #fff;
            }
          }
        }

        // li {
        //     color: @primary-color;
        //     &.withdrawal,
        //     &.deposit {
        //         &:hover {
        //             .ivu-btn {
        //                 background: @primary-color;
        //             }
        //         }
        //     }
        //     .ivu-btn {
        //         color: @primary-color;
        //     }
        //     .account-logo {
        //         .account-popup {
        //             p {
        //                 a {
        //                     &:hover {
        //                         color: @primary-color;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
      }
    }
  }

  .head-menu {
    background: @primary-color;

    .content {
      background: @primary-color;

      .nav-menu {
        li {
          &.active {
            a {
              background: @primary-color-hover;
            }
          }

          a {
            &:hover {
              background: @primary-color-hover;
            }
          }
        }
      }
    }
  }

  .gameTipDlg {
    .c-red {
      color: @primary-color;
    }
  }
}

//主题色
.home-lottery {
  border: 1px solid @primary-color;
  background-color: #fff;

  .inner {
    background-color: fade(@primary-color, 5%);
  }

  .lottery-list {
    li {
      a {
        border-bottom: 1px solid fade(@primary-color, 12%);

        &:hover {
          color: @primary-color;
          background-color: fade(@primary-color, 10%);
        }

        &.not-allow {
          color: @lottery-list-not-allow-color;

          &:hover {
            color: @lottery-list-not-allow-color;
          }
        }
      }
    }
  }

  .all-lottery {
    .label {
      color: @primary-color;
    }

    .before-document {
      &::after {
        background-color: fade(@primary-color, 5%);
      }
    }

    .high-frequency {
      border-top: 1px solid fade(@primary-color, 12%);

      &.active {
        border-top-color: @primary-color;
        border-bottom: 1px solid @primary-color;
      }

      p {
        border: 1px solid @primary-color;
        color: @primary-color;
      }

      a {
        &:hover {
          color: @primary-color;
        }
      }
    }

    &.low-more {
      .high-frequency {
        border-top: 1px solid @primary-color;
      }
    }

    .low-frequency {
      border-bottom: 1px solid fade(@primary-color, 12%);
      border-top: 1px solid fade(@primary-color, 12%);

      &.active {
        border-top: 1px solid @primary-color;
        border-bottom: 1px solid @primary-color;
      }
    }

    .all-list {
      border: 1px solid @primary-color;

      .inner {
        background-color: fade(@primary-color, 5%);
      }

      h3 {
        span {
          &.i-high-afterspan {
            color: @primary-color;
          }
        }
      }

      ul {
        li {
          a {
            &:hover {
              color: @primary-color;
            }

            &.diff-color:hover {
              color: @lottery-low-frequency-color;
            }
          }
        }
      }
    }

    .open-all {
      a {
        &:hover {
          color: @primary-color;
        }
      }
    }
  }
}

.lottery .tooltip-arrow {
  border-top-color: @tooltip-inner-bg !important;
}

.tooltip-inner {
  background-color: @tooltip-inner-bg;
}

.material .accont-info .font-red {
  color: @primary-color;
}

.material .accont-info .contact-method {
  .iconfont {
    color: @primary-color;
  }
}

.material .balance {
  border-top: 1px solid @common-border-color;
  border-left: 1px solid @common-border-color;
}

.material .balance li {
  border-right: 1px solid @common-border-color;
  border-bottom: 1px solid @common-border-color;
}

.material .balance .sign {
  border: 1px solid @personal-center-strong-color;
  color: @personal-center-strong-color;
}

.material .balance li strong {
  color: @personal-center-strong-color;
}

.material .balance .sign:hover {
  color: @primary-color;
}

.material .history h5 {
  border-bottom: 2px solid @common-border-color;
}

.description {
  .tab {
    border-bottom: 2px solid @common-border-color;

    ul {
      li {
        &.active {
          color: @primary-color;
          border-bottom-color: @primary-color;
        }
      }
    }
  }

  .content-wrap {
    .content {
      h3 {
        color: @primary-color;
      }
    }
  }
}

.active-page li .active {
  border: 1px solid @common-border-color;
}

.help-center .nav ul {
  background: @help-center-ul-bg;
}

.help-center .nav ul li:first-child {
  background: @help-center-title-bg;
}

.help-center .nav li span:hover {
  color: @primary-color;
}

.modify-password .tab {
  border: 2px solid @primary-color;
}

.modify-password .tab span {
  color: @primary-color;
}

.modify-password .tab span.active {
  background: @primary-color;
}

.expand-list {
  .table {
    .expand-content {
      span {
        color: @primary-color;
      }
    }
  }
}

.v-transfer-dom {
  .expand-modal-content {
    form {
      .ivu-form-item {
        &:nth-child(2) {
          button {
            color: @expand-list-color;
            border: 1px solid @expang-list-border-color;
          }
        }

        &:last-child {
          .rebate {
            span {
            }
          }

          .slider {
            span {
              color: @expand-list-color;
            }
          }
        }
      }
    }
  }
}

body .currency-pay {
  .currency-pay-tips__title,
  .currency-pay-tips__content {
    color: @primary-color;
  }
}

.withdrawAll .tips1 {
  color: @primary-color;
}

.withdrawAll .tips2 li .red-color {
  color: @primary-color;
}

.withdrawAll {
  .lee-p {
    color: @primary-color;
  }
}

.withdrawAll .tips2 li {
  color: @primary-color;
}

.withdraw {
  .ivu-tabs-bar {
    border-bottom: 3px solid @primary-color;
  }
}

.chase-num .query-conditions {
  border-bottom: 2px solid @primary-color-hover;
}

.trend {
  .detail-title {
    .title-wrap {
      background-color: @primary-color;
    }
  }
}

.trend-list-contanier {
  .echart-wrap {
    .main-title {
      ul {
        &:first-child {
          li {
            &.active {
              border-bottom-color: @primary-color;
              color: @primary-color;
            }
          }
        }

        &:last-child {
          li {
            &.active {
              color: @primary-color;
            }
          }
        }

        li {
          &:hover {
            color: @primary-color;
          }
        }
      }
    }
  }
}

.list-type {
  li {
    background-color: @primary-color;

    &.selected,
    &:hover {
      background-color: @primary-color-hover;
    }
  }
}

.lottery-list {
  .types {
    li {
      &:hover {
        color: @primary-color;
      }
    }
  }
}

.more-wrap a:hover {
  color: @primary-color;
}

.history-prize .title .more-wrap:hover {
  color: @primary-color;
}

.page-wrapper .ivu-page-item-jump-next .ivu-icon.ivu-icon-ios-arrow-right,
.page-wrapper .ivu-page-item-jump-prev .ivu-icon.ivu-icon-ios-arrow-left,
.page-wrapper
  .ivu-page-item-jump-prev
  a:hover
  .ivu-icon.ivu-icon-ios-arrow-right,
.page-wrapper
  .ivu-page-item-jump-next
  a:hover
  .ivu-icon.ivu-icon-ios-arrow-left {
  color: @primary-color;
}

.new-detail {
  border: 1px solid @news-detail-border;
}

.new-detail .sub-nav {
  border-bottom: 1px solid @news-detail-border;
  background: @news-detail-title-bg;
}

.new-detail .sub-nav a:hover {
  color: @primary-color;
}

.new-detail .title-content h1 {
  color: @primary-color;
}

.new-detail .news-content__content {
  border-top: 1px solid @news-detail-border;
}

.new-detail .news-content__content .other-news {
  border-top: 1px solid @news-detail-border;
  border-bottom: 1px solid @news-detail-border;
}

.new-detail .news-content__content .other-news p a:hover {
  color: @primary-color;
}

.lobby-item {
  border: 4px solid @lottery-item-border;
}

.lobby-item .detal .results .sBall {
  background-color: @lotter-item-ball-bg;
}

.lobby-item .bottom .fun {
  background-color: @lottery-list-li-bg;
  border-top: 1px solid @lottery-item-border;
}

.lobby-item .bottom .fun + .fun {
  border-left: 1px solid @lottery-item-border;
}

.lobby-item .bottom .bet-btn.disabled {
  background-color: @lottery-list-li-bg;
  border-color: @lottery-item-border;
}

.lobby-item .bottom span:hover {
  // color: @primary-color;
}

.lobby-item .detal .results .zzkj {
  color: @primary-color;
}

.news-wrapper ul li.news-item a {
  border-bottom: 1px solid @news-list-nav-border;
}

.news-wrapper ul li.news-item:hover a {
  color: @primary-color;
}

.suspend .service {
  color: @supend-service-color;
}

.suspend .service.last {
  color: @supend-service-last-color;
}

.suspend .close {
  color: @supend-service-color;
}

.lottery-head {
  background: @primary-color;
}

.lottery-head .acount .user-name,
.lottery-head .acount .balance span {
  color: @buy-lottery-common-color;
}

.lottery-head .acount .balance {
  background: @primary-color-hover;
}

.lottery-head .list li:hover {
  color: @lottery-head-text-hover-color;
}

.lottery-head .list li a:hover {
  color: @lottery-head-text-hover-color;
}

.lottery-head .list .sign:hover {
  background: @buy-lottery-common-bg;
  border-color: @lottery-head-btn-border-color;
}

.lottery-info .next-time .series span {
  color: @buy-lottery-common-color;
}

.lottery-info .next-time .timing i {
  color: @lottery-info-i-color;
}

.last-result .last-time .history-ball .txt {
  border: 1px solid @lottery-info-history-text-border;
}

.last-result .ball span i {
  background: radial-gradient(
    @lottery-info-ball-gradient-bg-one 21%,
    @lottery-info-ball-gradient-bg-two
  );
  color: @lottery-info-ball-color;
}

.lottery-info .interval {
  background: @primary-color;
  border-right: 1px solid @primary-color-hover;
}

.shared .red-font {
  color: @share-red-font-color;
}

.example-wrap .example {
  border: 1px solid @tab-menu-example-border;
  color: @tab-menu-example-color;
}

.example-wrap .example {
  &.fast {
    background-color: @primary-color;
  }
}

.notice-detail .lottery-category {
  background: @notice-detail-title-bg;
}

.notice-detail .sub-lottery span.red-color {
  color: @primary-color;
}

.notice-detail .lottery-category li:hover {
  background: @primary-color-hover;
}

.notice-detail .lottery-num .columns {
  background: @primary-color;
}

.notice-detail .lottery-category li.red-bg {
  background: @primary-color-hover;
}

.notice-detail .sub-lottery {
  background: @notice-detail-sub-menu-bg;
  border: 1px solid @primary-color;
}

.accout-pwd .p-icon {
  color: @primary-color;
}

.foot-list li p a:hover {
  color: @primary-color;
}

.wrap p.inf-end a:hover {
  color: @primary-color;
}

.login-dlg .cont-title h4 {
  color: @primary-color;
}

.login-dlg .foget-password {
  color: @primary-color;
}

.v-transfer-dom .ivu-modal-header {
  background: @primary-color;
}

.v-transfer-dom .ivu-modal-content {
  border: 1px solid @primary-color;
}

.pure-pwd-input-wp {
  input {
    color: @primary-color;
  }
}

.t_nav.p-wrap {
  border-bottom: 2px solid @primary-color;

  .p-inner {
    .p-title {
      color: @primary-color;
    }
  }
}

/* .lee-breadcrumb div:last-child:not(:first-child) {
    background-color: white;
} */
.lee-breadcrumb div:first-child {
  background-color: @primary-color;
  color: white;
  border-bottom-color: @primary-color;
}

.lee-breadcrumb div:first-child::after {
  color: @primary-color;
}

.userInput {
  .iconfont {
    &.icon-close {
      color: @primary-color;
    }
  }
}

.v-transfer-dom .period-modal .content .period-no {
  color: @primary-color;
}

.change-odds .odd-border {
  color: @primary-color;
}

.liuhe-popup .ivu-modal-header {
  background: @primary-color;
}

.liuhe-popup .record span {
  color: @primary-color;
}

.lianwei .operation .total strong {
  color: @primary-color;
}

.lianwei .operation .price .minus {
  border-right: 1px solid @primary-color;
}

.lianwei .operation .price {
  border: 1px solid @primary-color;
}

.lianwei .operation .price .icon-m-p {
  color: @primary-color;
}

.lianwei .operation .price .plus {
  border-left: 1px solid @primary-color;
}

.lianwei .operation .company span {
  border-left: 0;
  border: 1px solid #d2d0d0;
  color: #949494;
}

.lianwei .operation .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.hexiao .operation .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.hexiao .operation .price .minus {
  border-right: 1px solid @primary-color;
}

.hexiao .operation .price .plus {
  border-left: 1px solid @primary-color;
}

.hexiao .operation .price {
  border: 1px solid @primary-color;
}

.hexiao .operation .company span {
  border-left: 0;
  border: 1px solid #d2d0d0;
  color: #949494;
}

.zhongyi .operation .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.zhongyi .operation .price {
  border: 1px solid @primary-color;
}

.zhongyi .operation .price .minus {
  border-right: 1px solid @primary-color;
}

.zhongyi .operation .odd-compute span.odds,
.zhongyi .operation .odd-compute span.rebate {
  color: @primary-color;
}

.zhongyi .operation .add-note {
  background: @primary-color;
  border: 1px solid @primary-color;
  box-shadow: -1px 1px 1px @primary-color;
}

.zhongyi .operation .company span {
  border-left: 0;
  border: 1px solid #d2d0d0;
  color: #949494;
}

.zhongyi .operation .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.lianma .operation .company span {
  border-left: 0;
  border: 1px solid #d2d0d0;
  color: #949494;
}

.lianma .operation .price {
  border: 1px solid @primary-color;
}

.lianma .operation .price .icon-m-p {
  color: @primary-color;
}

.lianma .operation .price .minus {
  border-right: 1px solid @primary-color;
}

.lianma .operation .price .plus {
  border-left: 1px solid @primary-color;
}

.lianma .operation .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.lianxiao .operation .company span {
  border-left: 0;
  border: 1px solid #d2d0d0;
  color: #949494;
}

.lianxiao .operation .price {
  border: 1px solid @primary-color;
}

.lianxiao .operation .price .icon-m-p {
  color: @primary-color;
}

.lianxiao .operation .price .minus {
  border-right: 1px solid @primary-color;
}

.lianxiao .operation .price .plus {
  border-left: 1px solid @primary-color;
}

.lianxiao .operation .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.result-page .result-operation .order {
  border-color: @primary-color;
  background: linear-gradient(to top, @primary-color, @primary-color);
  box-shadow: -2px 1px 1px @primary-color inset;
}

.picked-result .current-info .add-note {
  background: @primary-color;
  border: 1px solid @primary-color;
  box-shadow: -1px 1px 1px @primary-color;
}

.picked-result .current-info .price {
  border: 1px solid @primary-color;
}

.picked-result .current-info .price .icon-m-p {
  color: @primary-color;
}

.picked-result .current-info .price .minus {
  border-right: 1px solid @primary-color;
}

.picked-result .current-info .price .plus {
  border-left: 1px solid @primary-color;
}

.picked-result .current-info .company span {
  border: 1px solid @add-note-border;
  color: @add-note-common-color;

  border-left: 0;
}

.picked-result .current-info .company {
  border-left: 1px solid @add-note-border;
}

.picked-result .current-info .company span.active {
  border: 1px solid @primary-color;
  color: @primary-color;
}

.result-page .totale-num .txt-title .detail {
  background: @primary-color;
}

.v-transfer-dom .period-modal .content .period-no {
  color: @primary-color;
}

.v-transfer-dom .period-modal .content .period-no {
  color: @primary-color;
}

.tab-list .common-tab {
  li.active,
  dd.active {
    color: @primary-color;
    border-color: @primary-color;
  }
}

.register-page .cont-title h4 {
  color: @primary-color;
}

.register-page .cont-title > div a {
  color: @primary-color;
}

.register-page .cont .agree .khxy {
  color: @primary-color;
}

.game-content {
  border: 1px solid @primary-color;
}

.game-tab {
  background-color: @primary-color;
}

.game-tab-item.active {
  .dsc-wrap,
  .name {
    color: @primary-color;
  }
}

.tab-type {
  .tab-type-item.active {
    background-color: @primary-color;
  }
}

.ui-downTime {
  color: @primary-color;
}

.list .lee-scroll-ul .prizeTotal {
  color: @primary-color;
}

.popup-notice-modal .ivu-modal-body ul li::before {
  background: @primary-color;
}

.popup-notice-modal .ivu-modal-body ul li:hover,
.popup-notice-modal .ivu-modal-body ul li.active {
  color: @primary-color;
}

.betting-wrap {
  .title {
    li {
      &.active {
        color: @primary-color;
        border-bottom: 2px solid @primary-color;
      }
    }
  }
}

.record .infodate span:nth-child(2) {
  color: @primary-color;
  margin: 0 5px;
}

.record .lotteryNumber {
  color: @primary-color;
}

.win-money {
  .key {
    background-color: @primary-color;
    border: 1px solid @primary-color;
  }
}

.lee-row2 {
  margin-top: 15px;

  button {
    background-color: white;
  }

  span {
    color: @primary-color;
  }
}

.lee-table-title {
  background: @primary-color;
}

.user-manage .ivu-table-cell .color-red {
  color: @primary-color;
}

.protocol-content {
  p {
    color: @primary-color;
  }
}

.trend-content-wrap {
  .common-table {
    tr {
      td {
        &.klsf {
          span {
            color: @primary-color;
          }
        }
      }
    }
  }
}

/* .table-wrap {
    table {
        td {
            &.klsf {
                span {
                    color: @primary-color;
                }
            }
        }
    }
}
 */
.roadbead-analy-wrap {
  .roadbead-analy {
    .title-top {
      .title {
        &:first-child {
          li {
            &.active {
              background-color: @primary-color;
            }
          }
        }
      }
    }

    .mode-menu {
      li {
        &.tab {
          border: 1px solid @primary-color;

          .icon-yxj-right {
            color: @primary-color;
          }
        }
      }
    }
  }
}

.prize-record {
  tr {
    .title-tab {
      .title {
        &:first-child {
          li {
            &.menu {
              &.active {
                border-color: @primary-color;
                color: @primary-color;
              }

              &:hover {
                border-color: @primary-color;
                color: @primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.prize-record .table-wrap {
  .analy {
    ul {
      li {
        &.ball-analy {
          &.active {
            border-color: @primary-color;
            color: @primary-color;
          }

          &:hover {
            color: @primary-color;
            border-color: @primary-color;
          }
        }

        &.ball-single {
          &:last-child {
            background: @primary-color;
          }

          &.active {
            border: 1px solid @primary-color;
            color: @primary-color;
          }
        }
      }

      &:last-child {
        li {
          &.ball-single {
            &:last-child {
              background: @primary-color;

              &:hover {
                border-color: @primary-color;
              }
            }

            &.active {
              border: 1px solid @primary-color;
              color: @primary-color;
            }

            &:hover {
              color: @primary-color;
              border-color: @primary-color;
            }
          }
        }
      }
    }
  }
}

.prize-record {
  .title-tab {
    .title {
      &:first-child {
        li {
          border: 1px solid #e4e4e4;

          &.menu {
            &.active {
              border-color: @primary-color;
              color: @primary-color;
            }

            &:hover {
              border-color: @primary-color;
              color: @primary-color;
            }
          }
        }
      }
    }

    .date-choice {
      float: right;
    }
  }
}

.date-wrap {
  .date-title-wrap {
    ul {
      &:first-child {
        li {
          &.active {
            color: @primary-color;
          }

          &:hover {
            color: @primary-color;
          }
        }
      }
    }
  }
}

.direct-trend {
  .table-wrap {
    .tab {
      ul {
        li {
          &.active {
            background-color: @primary-color;
          }
        }
      }
    }
  }
}

.sound-set .common i {
  background-color: @primary-color-hover;
}

.sound-set .common span {
  border: 1px solid @primary-color-hover;
}

.pc-egg .list h3 {
  background: @primary-color;
}

.index-footer {
  .iconfont {
    color: @primary-color;
  }
}

.home-header .head-menu .content .nav-menu li a .start-game span {
  background: @primary-color;
}

.my-account.themeColor .switchBar > div.active {
  background: @primary-color;
}

.my-account.themeColor .switchBar > div {
  color: @primary-color;
}

.saveQr {
  color: @primary-color;
}

html body {
  // background-color: @background-color;
}

.phoneValid .p-status {
  color: @primary-color;
}

.phoneValid .smsWarp .yzm-btn.redB {
  background-color: @primary-color;
}

.phoneValid .userInput .iconfont {
  color: @primary-color;
}

.chase-num .ct-body .ct-header {
  background-color: @primary-color;
}

.lottery-list .streamer.themeColor {
  background-color: fade(@primary-color, 3%);
  border-top: 1px solid fade(@primary-color, 12%);
  border-bottom: 1px solid fade(@primary-color, 12%);
}

.lottery-list .streamer .ivu-icon-android-volume-up {
  color: @primary-color;
}

.ivu-select-item.ivu-select-item-selected,
.ivu-select-item-selected:hover {
  color: #fff;
}

.tmpl-layout .ivu-btn-primary {
  background-color: @button-bg-color;
  border-color: @button-bg-color;

  &[disabled] {
    background-color: #f7f7f7;
    border-color: #dddee1;
  }
}

.pc-layout3 .ivu-btn-primary {
  background-color: @button-bg-color;
  border-color: @button-bg-color;

  &[disabled] {
    background-color: #f7f7f7;
    border-color: #dddee1;
  }
}

.currency-order-tab__item--active {
  .currency-order-tab__content {
    background-color: @primary-color !important;
  }
}

.currency-button {
  background-color: @primary-color;
}

.active-tab {
  li.active .active-tab__content {
    background-color: @primary-color;
    color: #ffffff;
  }

  .active-tab__content {
    &:hover {
      background-color: @primary-color;
      color: #ffffff;
    }
  }
}

.language-dropdown,
.coin-dropdown {
  .ivu-dropdown-item {
    color: #ffffff;

    &:hover {
      color: @primary-color;
    }
  }
}

.ivu-picker-panel-body-wrapper {
  .ivu-date-picker-cells-header span {
    padding: 5px 0;
    word-break: break-word;
    line-height: normal;
  }
}

.ivu-picker-panel-body-wrapper.ivu-date-picker-with-range {
  .ivu-picker-panel-body {
    width: 488px;
  }

  .ivu-date-picker-cells {
    width: 224px;

    span {
      width: 28px;
      height: 28px;
    }

    .ivu-date-picker-cells-header span {
      word-break: break-word;
      font-size: 12px;
      line-height: normal;
      height: auto;
    }
  }

  span.ivu-date-picker-cells-cell {
    width: 32px;
    height: 32px;
  }
}

.free-charge {
  .balance-rate {
    color: @primary-color;
  }
}

.recharge-steps-item__head-inner {
  background-color: @primary-color;
}

.zhengma_16 .zhengma-16_body-odds {
  color: @primary-color;
}

.zhengma-16_play {
  background: @primary-color;
}

.zk-input__inner:not([readonly]) {
  &:focus {
    border-color: @primary-color;
    box-shadow: 0 0 0 2px fade(@primary-color, 20%);
  }
}

.ivu-icon-close-round {
  transition: all 0.5s;
  &:hover {
    transform: rotate(360deg);
  }
}
