@primaryTextColor: #ff464b;
@boldTextColor: #fff;
@normalTextColor:#5f4032;
@topLeftTextColor:#b6b2b2;
@sectionTextColor:#676565;
@activityTitleTextColor:#08070b;
@activityContentTextColor:#cfccc9;
@downLoadTextColor:#bec2bd;
@footerTextColor:#818381;
@smallFontSize:12px;
@normalFontSize:16px;
@backGroundColor:rgba(0,0,0,0.1);
