@import "./base.less";
@deep: ~">>>";

html {
  font-size: 16px;
}

body {
  font-size: 0.875rem;
}

body.v10-layout-theme {
  .text-\[\#32C5FF\] {
    --tg-text-opacity: 1;
    color: rgb(50 197 255 e("/") var(--tg-text-opacity));
  }
  .text-\[\#969698\] {
    --tg-text-opacity: 1;
    color: rgb(150 150 152 e("/") var(--tg-text-opacity));
  }
  .bg-\[\#F5F9FF\] {
    --tg-bg-opacity: 1;
    background-color: rgb(245 249 255 e("/") var(--tg-bg-opacity));
  }
  .shadow-\[\#EBF2FB\] {
    --tg-shadow-color: #ebf2fb;
    --tg-shadow: var(--tg-shadow-colored);
  }
  .shadow-\[rgba\(107\,168\,220\,0\.10\)\] {
    --tg-shadow-color: rgba(107, 168, 220, 0.1);
    --tg-shadow: var(--tg-shadow-colored);
  }
  .drop-shadow-\[0_8px_8px_rgba\(52\,130\,197\,0\.2\)\] {
    --tg-drop-shadow: drop-shadow(0 8px 8px rgba(52, 130, 197, 0.2));
    filter: var(--tg-blur) var(--tg-brightness) var(--tg-contrast)
      var(--tg-grayscale) var(--tg-hue-rotate) var(--tg-invert)
      var(--tg-saturate) var(--tg-sepia) var(--tg-drop-shadow);
  }
  .from-\[\#208BFF\] {
    --tg-gradient-from: #208bff var(--tg-gradient-from-position);
    --tg-gradient-to: rgb(236 72 153 / 0) var(--tg-gradient-to-position);
    --tg-gradient-stops: var(--tg-gradient-from), var(--tg-gradient-to);
  }
  .to-\[\#2FD4F6\] {
    --tg-gradient-to: #2fd4f6 var(--tg-gradient-to-position);
  }

  #app {
    --tg-text-opacity: 1;
    color: rgb(var(--tg-font-primary) e("/") var(--tg-text-opacity));
  }

  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-button,
  ::-webkit-scrollbar-button {
    background: #fff;
    width: 6px;
    height: 0;
  }
  &::-webkit-scrollbar-track-piece,
  ::-webkit-scrollbar-track-piece {
    background: #eeebeb;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  img[src=""],
  img:not([src]) {
    visibility: hidden;
  }
  .container {
    width: 1320px;
    margin: auto;
  }
  .content {
    width: 1000px;
    margin: auto;
  }
  .container-fluid {
    min-width: 1300px;
    width: 100%;
  }
  .ivu-modal-confirm-footer {
    display: flex;
  }
  .ivu-btn {
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      display: flex;
      align-items: center;
      > img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        float: none;
      }
    }
  }
  .ivu-btn-primary {
    background: url(~@/assets/images-v10/home/topgames_button_xz.png) no-repeat
        center / 135%,
      linear-gradient(180deg, #3be6e5 0%, #1f94ff 100%);
    border: 2px solid #5cb1ff;
    box-shadow: 0 3px 5px 0 rgba(0, 95, 176, 0.3);
    font-family: PingFang-SC-Bold;
    color: #ffffff;
  }
  .ivu-btn-style--1 {
    background-image: linear-gradient(0deg, #eff3fd 0%, #e3ebff 100%);
    border: 1px solid #d4e1ff;
    box-shadow: 0 3px 5px 0 rgba(0, 95, 176, 0.1);
    font-family: PingFang-SC-Bold;
    --tg-text-opacity: 1;
    color: rgb(var(--tg-font-primary) e("/") var(--tg-text-opacity));
  }
  .ivu-btn-style--2 {
    background: url(~@/assets/images-v10/home/topgames_button_xz.png) no-repeat
        center / 135%,
      linear-gradient(180deg, #3be6e5 0%, #1f94ff 100%);
    border: 1px solid transparent;
    box-shadow: 0 3px 5px 0 rgba(0, 95, 176, 0.3);
    font-family: PingFang-SC-Bold;
    color: #ffffff;
  }
  .ivu-btn-style--3 {
    background: rgba(0, 0, 0, 0);
    --tg-border-opacity: 1;
    border: 1px solid rgb(var(--tg-accent) e("/") var(--tg-border-opacity));
    font-family: PingFang-SC-Bold;
    --tg-text-opacity: 1;
    color: rgb(var(--tg-accent) e("/") var(--tg-text-opacity));
  }

  .ivu-btn-style--4 {
    font-family: PingFang-SC-Bold;
    --tg-text-opacity: 1;
    color: rgb(var(--tg-font-primary) e("/") var(--tg-text-opacity));
    background-image: linear-gradient(
      0deg,
      #eff3fe 0%,
      #ffffff 100%,
      #e2ecff 200%
    );
    border: 1px solid #dde8ff;
    box-shadow: 0 4px 6px 0 rgba(0, 95, 176, 0.1);
  }

  .ivu-spin--dark {
    background-color: rgba(0, 0, 0, 0.4);
  }
  #app .ivu-table .ivu-table-header th,
  .v-transfer-dom .ivu-table-header th {
    color: #ffffff;
  }
  .buy-hall {
    --tg-bg-opacity: 1;
    background: rgb(var(--tg-primary) e("/") var(--tg-bg-opacity));
  }
  .buy-lottery {
    .lottery-body {
      > .ivu-spin-fix {
        background-image: linear-gradient(
          to top,
          #26252b,
          #33333a 70%,
          #40404a
        );
      }
    }
    .list h5 {
      color: #ffffff;
    }
    .lottery-title .title {
      color: #ffffff;
    }
    .lottery-info .next-time {
      color: #ffffff;
    }
    .sound-set .common i {
      color: #fff;
    }
    .lottery-info .last-result {
      color: #ffffff;
    }
    // .last-result .last-time i:last-child span {
    //   color: #ffffff;
    // }
    .lottery-info .last-result .history .ball {
      color: #ffffff;
    }
    .lottery-info .next-time .timing i {
      color: rgb(var(--tg-font-accent));
      // background-image: url(~@/assets/images-v6/icon.png);
    }
    .lottery-info .next-time .series,
    .last-result .last-time {
      color: #ffffff;
    }
    .lottery-info .next-time .series span,
    .last-result .last-time span {
      color: #000000;
    }
    .last-result .last-time .history-ball .txt {
      border-color: #ffffff;
    }
    // .lottery-head {
    //   --tg-bg-opacity: 1;
    // }
    .lottery-head .acount .user-name,
    .lottery-head .acount .balance span {
      color: #a03532;
    }
    .lottery-head,
    .tab-menu .top-tab ul li,
    .liuhe .liuhe-nva {
      color: #ffffff;
    }
    .lottery-head.active,
    .tab-menu .top-tab ul li.active,
    .liuhe .liuhe-nva.active {
      // --tg-text-opacity: 1;
      // color: rgb(var(--tg-font-accent) e('/') var(--tg-text-opacity));
    }
    .liuhe .curr {
      --tg-text-opacity: 1;
      color: rgb(var(--tg-font-accent) e("/") var(--tg-text-opacity));
    }
    .lottery-head .list .sign {
      color: #ffffff;
      border-color: #ffffff;
      cursor: pointer;
      &:hover {
        background: transparent;
      }
    }
  }
  .turn-round {
    animation: rotating 5s infinite linear;
  }
  .dropdown {
    cursor: pointer;
    background-color: transparent;
    .ivu-select-dropdown {
      box-shadow: none;
      background-color: transparent;
    }
    .ivu-dropdown-item {
      border-bottom: 1px solid #d1d4f6;
      &:hover {
        background: transparent;
        color: rgb(var(--tg-accent));
      }
    }
    .ivu-dropdown-menu {
      text-align: center;
      background: #f2f7ff;
      border: 1px solid #d1d4f6;
      box-shadow: 0 2px 4px 0 #c6d3f3, inset 0 0 16px 0 rgba(255, 255, 255, 0.5);
      .ivu-dropdown-item:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }
  .header-input {
    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #ffffff;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #ffffff;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #ffffff;
    }
    input {
      background-color: rgba(148, 154, 182, 0.5);
      border: none;
      color: #ffffff;
      border-radius: 6px;
    }
    .ivu-input-icon {
      color: #ffffff;
    }
  }
  .header-input--icon-prepend {
    .ivu-input-icon {
      left: 0;
      bottom: 0;
      margin: auto;
      top: 0;
      right: auto;
    }
    .ivu-input-icon-normal + .ivu-input {
      padding-left: 32px;
    }
  }
  .header-input--no-padding-right {
    .ivu-input-icon-normal + .ivu-input {
      padding-right: 0;
    }
  }
  .text-title {
    font-size: 34px;
  }
  .text-title--gradient {
    background-image: -webkit-gradient(
      linear,
      0 bottom,
      0 top,
      color-stop(40%, #aa8743),
      color-stop(80%, #f5f3a9)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .text-title--repeat-gradient {
    background-image: repeating-linear-gradient(
      50deg,
      #f5f3a9 0%,
      #b79954 25%,
      #e6de95 50%,
      #b79954 75%,
      #e6de95 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .text-title-secondary {
    font-size: 14px;
    color: #eadf91;
  }
  .search-input {
    position: relative;
    width: 250px;
    color: #a6833f;
    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #c9cddb;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #c9cddb;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #c9cddb;
    }
    input {
      border-radius: 8px;
      border-color: #e3e6ed;
      height: 35px;
      color: #999999;
      font-size: 14px;
      padding: 0 12px 0 38px;
      background: #ffffff;
    }
    .ivu-icon {
      position: absolute;
      left: 12px;
      top: 8px;
      font-size: 22px;
      cursor: pointer;
      color: #999999;
    }
  }
  .user-auth {
    width: 900px;
    margin: auto;
    padding: 40px 268px 60px;
    border-radius: 10px;
    background: #f5f9ff;
    border: 2px solid #ffffff;
    box-shadow: 0 0 18px 1px rgba(107, 168, 220, 0.1), inset 0 0 10px 0 #ebf2fb;
    .ivu-form-item {
      input,
      .ivu-select-single .ivu-select-selection {
        padding-left: 32px;
        background: #e4e6ed;
        height: 40px;
        color: rgb(var(--tg-font-accent));
        font-size: 14px;
      }
      .ivu-select-single .ivu-select-selection {
        height: 40px;
        .ivu-select-arrow {
          margin-top: -6px;
        }
      }
      .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
      .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding-left: 0;
      }
      .ivu-select-single {
        .ivu-select-dropdown {
          border: 1px solid rgb(68, 68, 68);
          background-color: #000;
          .ivu-select-item {
            color: #ffffff;
          }
          .ivu-select-item:hover {
            background-color: #242020;
          }
        }
      }
      .user-auth-form__tips,
      .ivu-form-item-error-tip {
        position: absolute;
        top: 100%;
        left: 0;
        line-height: 1;
        padding-top: 6px;
        color: #ff0000;
      }
    }
    .yi-dun {
      margin-bottom: 24px;
    }
    .ivu-select-dropdown {
      max-height: 200px;
      overflow: auto;
    }
  }

  .user-auth__header {
    display: flex;
    justify-content: space-around;
  }

  .user-auth__title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;

    &:hover,
    &.user-auth__title--active {
      border-bottom: 1px solid;
      border-image: linear-gradient(180deg,rgb(var(--tg-accent)) 0%,rgb(var(--tg-accent)) 100%) 1;
      color: rgb(var(--tg-accent));
    }
  }

  .user-auth__title--link {
    cursor: pointer;
  }

  .user-auth-form {
    padding: 20px 0 0;
    .form-sms {
      display: flex;
      .ivu-btn {
        height: 41px;
        margin-left: 10px;
      }
    }
    &__quicks {
      display: flex;
      justify-content: center;
    }
    &__quick {
      width: 40px;
      height: 40px;
      margin: 0 11px;
      cursor: pointer;
    }
  }

  .user-auth-form__submit {
    width: 360px;
    height: 46px;
    font-size: 18px;
  }

  .user-auth-form-item__icon {
    position: absolute;
    left: 10px;
    top: 13px;
    display: block;
    width: 17px;
    height: 18px;
    background: url("~@/assets/images-v10/login/Dengru_name.png");
    background-repeat: no-repeat;
    z-index: 2;

    &.pwd {
      background-image: url("~@/assets/images-v10/login/Dengru_Password.png");
    }

    &.check-pwd {
      background-image: url("~@/assets/images-v10/login/Dengru_Password.png");
    }

    &.yzm {
      background-image: url("~@/assets/images-v10/login/Dengru_Verificationcode.png");
    }

    &.id {
      top: 14px;
      background-image: url("~@/assets/images-v10/register/zhuce_IDcard.png");
    }

    &.phone {
      left: 10px;
      top: 11px;
      background-image: url("~@/assets/images-v10/register/zhuce_Mobilenumber.png");
    }

    &.wechat {
      background-image: url("~@/assets/images-v10/register/zhuce_WeChat.png");
    }

    &.currency {
      background-image: url("~@/assets/images-v10/register/zhuce_huobi.png");
    }

    &.email {
      top: 14px;
      background-image: url("~@/assets/images-v10/register/zhuce_E-mail.png");
    }

    &.qq {
      top: 10px;
      background-image: url("~@/assets/images-v10/register/zhuce_qq.png");
    }

    &.yqm {
      background-image: url("~@/assets/images-v10/register/zhuce_Invitationcode.png");
    }

    &.sms {
      background-image: url("~@/assets/images-v10/register/zhuce_sms.png");
      background-size: 100%;
    }
  }

  .user-auth-form-item__checkbox {
    .ivu-checkbox-checked .ivu-checkbox-inner {
      background-color: transparent;
      border-color: rgb(var(--tg-accent));
    }

    .ivu-checkbox-checked .ivu-checkbox-inner:after {
      border-color: rgb(var(--tg-accent));
    }
  }

  .user-auth-form-item__agree {
    font-size: 14px;
    color: rgb(var(--tg-font-accent));

    span {
      text-decoration: underline;
      color: rgb(var(--tg-accent));
    }
  }
  .user-auth-form-item {
    position: relative;
  }
  .user-auth-form-item--append {
    input {
      padding-right: 80px;
    }
  }
  .user-auth-form-item__checkcode {
    position: absolute;
    right: 0;
    top: 0;
    width: 82px;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &:hover {
      cursor: pointer;
    }
  }
  .user-auth-form-item__tips {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: rgb(var(--tg-font-accent));
  }
  .user-auth-form-item__input.phone {
    position: relative;
    input {
      padding-left: 74px;
    }
  }
  .user-auth-form-item__area-code {
    position: absolute;
    left: 32px;
    color: rgb(var(--tg-font-accent));
    top: 5px;
    z-index: 10;
    font-size: 14px;
  }
  .home-title {
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: @font-bold;
    font-size: 50px;
    color: #32c5ff;
    letter-spacing: 0;
    text-align: center;
    line-height: 48px;
    text-shadow: 0 6px 8px rgba(52, 130, 197, 0.2);
  }
  .coin-dropdown,
  .language-dropdown {
    .ivu-dropdown-menu {
      background: #b2ddff;
      background: #f2f7ff;
      border: 1px solid #d1d4f6;
      box-shadow: 0 2px 4px 0 #c6d3f3, inset 0 0 16px 0 rgba(255, 255, 255, 0.5);
      .ivu-dropdown-item {
        color: rgb(var(--tg-font-primary));
        border: 1px solid #d1d4f6;
      }
      .ivu-dropdown-item:hover {
        color: rgb(var(--tg-accent));
      }
    }
  }
  .personal-center .navList li.active,
  .personal-center .navList li.active:hover {
    background-color: rgb(var(--tg-accent));
  }
}
